@font-face
{
    font-family: "Ferrum";
    src: url('../fonts/ferrum.otf' ) format("open-type");
}

@font-face {
    font-family: 'SilkaMono';
    src: url('../fonts/silkamono-regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/silkamono-regular-webfont.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/silkamono-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/silkamono-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

@font-face {
    font-family: 'Paris-2024';
    src: url('../fonts/Paris2024-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Paris2024-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Paris2024-Regular.woff') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Paris2024-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
*
{
    box-sizing: border-box;
    
}
html
{
    background: url("http://localhost/BaiTapVeNha/app/asset/images/Background.jpg");
    background-size: cover;
    background-position: center center; 
}
.parent
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin:150px auto;
   
}
.container1{
  
    
    width: 50%; /* Adjust width for your layout */
    background-color: rgba(34, 49, 63);
    height: auto;
    border: 1px solid black;
    border-radius: 30px;
    margin-bottom: 25px;
    padding: 20px; /* Adjust padding as needed */
}

.formSubmit {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* No background-color set here */
}
label
{   
    
    display: block !important;
    text-align: left;
    width: 50%;
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Paris-2024";
    letter-spacing: 2px;
}

input
{
    margin: 20px auto;
}
input[type=text]
{
    width: 50%;
    font-size: 28px;
    font-family: "Ferrum";
    border-radius: 6px;
    border: 1px solid black; 
    padding: 10px 10px;
}

input[type=file]
{
    width: 25%;
    height: auto;
    border-radius: 6px;
    border: 1px solid black; 
    padding: 10px 10px;
}

input[type=date]
{
    width: 25%;
    height: auto;
    border-radius: 6px;
    border: 1px solid black; 
    padding: 10px 10px;
}

 button
{
    font-size: 24px;
    color: #fff;
    font-family: "Ferrum";
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: 6px;
    background-color: black;
}

h1
{
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    font-family: "Ferrum";
}